In [2]:
import numpy as np
import pandas as pd

In [3]:
data_dic = {
    "col_1": [1, 2, 3, 4, 5],
    "col_2": [111, 222, 333, 111, 555],
    "col_3": ["alpha", "bravo", "charlie", np.nan, np.nan],
}
df = pd.DataFrame(data_dic)
df

   col_1  col_2    col_3
0      1    111    alpha
1      2    222    bravo
2      3    333  charlie
3      4    111      NaN
4      5    555      NaN

In [7]:
print(df['col_1'].unique())  # provides unique values 
print(df['col_2'].unique())
print(df['col_3'].unique())

[1 2 3 4 5]
[111 222 333 555]
['alpha' 'bravo' 'charlie' nan]

In [8]:
print(df['col_1'].nunique())  # provides number of unique values 
print(df['col_2'].nunique())
print(df['col_3'].nunique())

5
4
3