In [4]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.DataFrame({
    'key': ['a', 'b', 'c', 'd', 'e'],
    'A1': range(5),
    'B1': range(5, 10)
})
# the keys will be column header and the values will be the items of corresponding column header

df2 = pd.DataFrame({
    'key': ['a', 'b', 'c'],
    'A2': range(3),
    'B2': range(3, 6)
})

In [6]:
df1

  key  A1  B1
0   a   0   5
1   b   1   6
2   c   2   7
3   d   3   8
4   e   4   9

In [7]:
df2

  key  A2  B2
0   a   0   3
1   b   1   4
2   c   2   5

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key     5 non-null      object
 1   A1      5 non-null      int64
 2   B1      5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [9]:
pd.merge(df1, df2, how = 'inner', on = 'key') # to see all key

  key  A1  B1  A2  B2
0   a   0   5   0   3
1   b   1   6   1   4
2   c   2   7   2   5

In [11]:
pd.merge(df1, df2, how = 'inner', on = 'key')[['key', 'A1', 'A2']] 
# to see specific key

  key  A1  A2
0   a   0   0
1   b   1   1
2   c   2   2